@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-primary: #3c9af0;
  --color-secondary: #5e5e5e;
  --color-tertiary: #c8c8c8;
  --color-quartiary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
