header {
  background-color: #1890ff;
  color: #fff;
  font-size: 24px;
  height: 62px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav {
  margin-left: 41px;
}

header a {
  text-decoration: none;
  color: unset;
}
